.App {
  text-align: center;
  background-color: rgb(47, 84, 87);
  z-index: -3rem;
}

.App-logo {
  animation: App-logo-blink infinite 1s linear;
  height: 60px;
  padding: 5px;
  border-radius: 2rem;
}


.App-header {
  background-color: rgb(56, 50, 50);
  border-radius: 6rem;
  height: 20rem;
  width: 116rem;
  justify-self: center;
  padding: 20px;
  color: rgb(17, 0, 255);
  font-size: 2rem;
}

.logo{
  float: left;
  height: 20rem;
  width: 36rem;
  padding-top: 3rem;
  padding-left: 3rem;
}

button{
  background-color: rgb(100, 237, 237);
  border-radius: 30%;
}


.user{
  color: aliceblue;
  background-color: hsla(0, 0%, 13%, 0.369);
  border-radius: 6rem;
}

@keyframes App-logo-blink {
  from { background-color: aqua; }
  to { background-color: crimson; }
}
